{% block publisher_content %}
    {% for formPart in form %}
        {% if 'recommendation' in formPart.vars.block_prefixes %}
            <div class="entry">
                <h3>{{ form_label(formPart)}}</h3>
                {{ form_row(formPart.title) }}
                {{ form_row(formPart.message) }}
                {{ form_row(formPart.url) }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}